:host {
  display: block;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: var(--sp-4);
  margin-bottom: var(--sp-4);
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: var(--sp-3);
  margin-bottom: var(--sp-4);
}

.totals {
  padding: var(--sp-3) var(--sp-4);
  margin-bottom: var(--sp-6);

  .stat-value {
    font-size: 19px;
  }
}

.clear-btn {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}
